.form_row {
	width: 100%;
	display: flex;
	border-top: 1px solid gray;
}

.form_title_col {
	width: 15%;
	align-items: center;
	background-color: lightskyblue;
	padding-left: 25px;
}

.form_value_col {
	width: 85%;
	padding: 0 10px;
}

.form_title {
	margin: 10px 0;
	font-size: medium;
}

.form_value {
	width: 33%;
	margin: 5px;
}
